/* Webfont: Cristinutza */
@font-face {
    font-family: 'Cristinutza';
    src: url('../assets/fonts/first/Cristinutza.woff') format('woff');
    src: url('../assets/fonts/first/Cristinutza.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Cristinutza_2 */
@font-face {
    font-family: 'Cristinutza_2';
    src: url('../assets/fonts/second/Cristinutza_2.0.woff') format('woff');
    src: url('../assets/fonts/second/Cristinutza_2.0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0;
    padding: 0;
}

#exit, #start, #ok {
    cursor: pointer;
}

text {
    font-size: 25px;
    font-weight: bold;
    font-family: Cristinutza;
    fill: #a65c0c;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
}

html, body {
    width: 100%;
    height: 100%;
}

canvas, svg {
    display: block;
    position: absolute;
}

.text {
    font-size: 25px;
    font-weight: bold;
    font-family: Cristinutza_2;
    fill: #a65c0c;
}

.logo {
    font-size: 90px;
    font-weight: bold;
    font-family: Cristinutza;
    fill: #a65c0c;
}

